# dependências
/node_modules
/.pnp
.pnp.*
/node_modules
/node_modules/*

# Next.js
/.next/
/out/

# Produção e Build
/build
/dist
/.vercel
*.tsbuildinfo
next-env.d.ts

# Testes
/coverage

# Arquivos de Ambiente e Segredos (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Logs e Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Editor e Sistema
.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
.cursor/

# Prisma e Gerados
/app/generated/prisma
/generated/prisma
# Documentação Interna
/doc/
